@model Grid4Guys.Models.ProductGridModel
@{
    ViewBag.Title = "Filterable";
}
<h2>Filterable</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Filterable", "Products", FormMethod.Get))
{<fieldset class="filtering">
        <legend>Filter Product Results</legend>
        <div>
            <b>Show Products In:</b>
            @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, "-- All Categories --")
            <b>Minimum Price:</b>
            $ @Html.TextBoxFor(model => model.MinPrice, new { size = 8 })
            <b>Omit Discontinued?</b>
            @Html.CheckBoxFor(model => model.OmitDiscontinued)
            <input type="submit" value="Filter Results" />
        </div>
    </fieldset>
}
<table class="table">
    <tr>
        <th style="width: 35%">Product</th>
        <th style="width: 25%">Category</th>
        <th style="width: 25%">Qty/Unit</th>
        <th style="width: 15%">Price</th>
        <th style="width: 5%">Discontinued</th>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @string.Format("{0:C}", item.UnitPrice))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
        </tr>
    }
</table>