@model Grid4Guys.Models.ProductGridModel
@{
    ViewBag.Title = "SortPageAndFilter";
}
<h2>SortPageAndFilter</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    Your are viewing page @Model.PageIndex of @Model.TotalPageCount
</p>
@using (Html.BeginForm("SortPageAndFilter", "Products", FormMethod.Get))
{<fieldset class="filtering">
        <legend>Filter Product Results</legend>
        <div>
            <b>Show Products In:</b>
            @Html.DropDownListFor(model => model.CategoryId, Model.CategoryList, "-- All Categories --")
            <b>Minimum Price:</b>
            $ @Html.TextBoxFor(model => model.MinPrice, new { size = 8 })
            <b>Omit Discontinued?</b>
            @Html.CheckBoxFor(model => model.OmitDiscontinued)
            <input type="submit" value="Filter Results" />
        </div>
    </fieldset>
    @Html.Hidden("sortBy", Model.SortBy)
    @Html.Hidden("ascending", Model.SortAscending)
}
<table class="table">
    <tr>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "ProductName" }, { "DisplayName", "Product" } })</th>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Categories.CategoryName" }, { "DisplayName", "Category" } })</th>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "QuantityPerUnit" }, { "DisplayName", "Qty/Unit" } })</th>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "UnitPrice" }, { "DisplayName", "Price" } })</th>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Discontinued" }, { "DisplayName", "Discontinued" } })</th>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(m => item.Categories.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
            </td>
            <td>
                @Html.DisplayFor(m => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(m => item.Discontinued)
            </td>
        </tr>
    }
</table>
<ul class="pagination">
    @Html.Partial("_Pager", Model)
</ul>